<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Reset css -->
        <link rel="stylesheet" href="css/reset.css">

        <!-- Bulma css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <!-- Main css -->
        <link rel="stylesheet" href="css/style.css">

        <title> Home </title>
    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container is-max-desktop">


                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="images/icons/lion.png" width="30">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            Home
                        </a>

                        <a class="navbar-item">
                            Posts
                        </a>

                        <a class="navbar-item">
                            Add Post
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-arrowless">
                                User
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Settings
                                </a>
                                <a class="navbar-item">
                                    Toggle Dark Mode
                                </a>
                                <a class="navbar-item">
                                    Log Out
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item">
                                    Report an issue
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light">
                                    Log in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <h1> Hi </h1>
    </body>

    <footer>
        <script src="scripts/toggleMenuBurger.js"></script>
    </footer>

</html>