<%- include("../includes/header.ejs") %>



<section class="section">
    <div class="container is-max-desktop index-container">
        <h1 class="text-title"> Hello 👋 </h1>
        <p class="text-normal"> Soon there will be more content! </p>
    </div>
</section>


<%- include("../includes/footer.ejs") %>