<%- include("../includes/header.ejs") %>



<section class="section">
    <div class="container is-max-desktop index-container">
        <h1 class="text-title">
            Hello<% if (typeof(loggedUser) !== 'undefined') { %>
            <%= loggedUser %>
            <% } %> 👋
        </h1>
        <p class="text-normal"> Soon there will be more content! </p>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop post-container">
        <div class="post-box">
            <!-- Username, avatar, post time (when added) -->
            <div class="post-info">
                <!-- Avatar -->
                <div class="post-user-avatar-box">
                    <img src="../images/icons/user.png">
                </div>
                <!-- Username, post time -->
                <div class="post-username-info">
                    <!-- Username -->
                    <div class="post-username">
                        <p class="text-username"> Marcluu </p>
                    </div>
                    <!-- Post date -->
                    <div class="post-info-date">
                        <p class="text-date"> 2022.09.02 </p>
                    </div>

                </div>
                <!-- add to favourites -->
                <div class="post-love-icon">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="post-categories">
                <a href="/"> News </a>
                <a href="/"> Hot </a>
            </div>
            <div class="post-title">
                <p class="text-normal">
                    This is some post title
                </p>
            </div>
            <div class="post-image">
                <img src="../images/memes/meme1.jpg">
            </div>
            <div class="post-reactions">
                <button> Like </button>
                <button> Dislike </button>
                <button> Comments </button>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container is-max-desktop post-container">
        <div class="post-box">
            <!-- Username, avatar, post time (when added) -->
            <div class="post-info">
                <!-- Avatar -->
                <div class="post-user-avatar-box">
                    <img src="../images/icons/user.png">
                </div>
                <!-- Username, post time -->
                <div class="post-username-info">
                    <!-- Username -->
                    <div class="post-username">
                        <p class="text-username"> Marcluu </p>
                    </div>
                    <!-- Post date -->
                    <div class="post-info-date">
                        <p class="text-date"> 2022.09.02 </p>
                    </div>

                </div>
                <!-- add to favourites -->
                <div class="post-love-icon">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="post-categories">
                <a href="/"> News </a>
                <a href="/"> Hot </a>
            </div>
            <div class="post-title">
                <p class="text-normal">
                    This is some post title
                </p>
            </div>
            <div class="post-image">
                <img src="../images/memes/meme2.jpg">
            </div>
            <div class="post-reactions">
                <button> Like </button>
                <button> Dislike </button>
                <button> Comments </button>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop post-container">
        <div class="post-box">
            <!-- Username, avatar, post time (when added) -->
            <div class="post-info">
                <!-- Avatar -->
                <div class="post-user-avatar-box">
                    <img src="../images/icons/user.png">
                </div>
                <!-- Username, post time -->
                <div class="post-username-info">
                    <!-- Username -->
                    <div class="post-username">
                        <p class="text-username"> Marcluu </p>
                    </div>
                    <!-- Post date -->
                    <div class="post-info-date">
                        <p class="text-date"> 2022.09.02 </p>
                    </div>

                </div>
                <!-- add to favourites -->
                <div class="post-love-icon">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="post-categories">
                <a href="/"> News </a>
                <a href="/"> Hot </a>
            </div>
            <div class="post-title">
                <p class="text-normal">
                    This is some post title
                </p>
            </div>
            <div class="post-image">
                <img src="../images/memes/meme3.jpg">
            </div>
            <div class="post-reactions">
                <button> Like </button>
                <button> Dislike </button>
                <button> Comments </button>
            </div>
        </div>
    </div>
</section>

<%- include("../includes/footer.ejs") %>