<%- include("../includes/header.ejs") %>


<section class="section fullPage-container ">
    <div class="container login-container">
        <div class="login-box">
            <div class="login-info">
                <h1 class="text-title"> Log In </h1>
                <p class="text-normal"> Don't have an account?</p>
                <a class="basic-link" href="/signin"> Sign Up <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <div class="login-form">
                <form action="/login" method="POST">
                    <p class="input-label"> <i class="fa-solid fa-user"></i> E-mail / Username </p>
                    <% if(typeof(queries) !== 'undefined') { %>
                    <input class="input-form" type="text" name="username" value="<%= queries.username %>">
                    <% } else { %>
                    <input class="input-form" type="text" name="username">
                    <% } %>
                    <br>

                    <p class="input-label"> <i class="fa-solid fa-unlock-keyhole"></i> Password </p>
                    <input class="input-form" type="password" name="password"> <br>
                    <button class="basic-button"> Continue </button>
                </form>

            </div>
            <div class="login-form-error-box">

                <!-- User Validation -->
                <% if (typeof(queries) !== 'undefined') { %>

                <% if (queries.userExists) { %>
                <p class="text-error-normal"> Username / E-mail not found! </p>
                <% } %>

                <% if (queries.passwordOk) { %>
                <p class="text-error-normal"> Wrong password! </p>
                <% } %>

                <% if (queries.accountCreated) { %>
                <p class="text-success-normal">Account created successfully, you can now login <i
                        class="fa-regular fa-face-smile-beam"></i> </p>
                <% } %>

                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include("../includes/footer.ejs") %>