<%- include("../includes/header.ejs") %>


<section class="section fullPage-container ">
    <div class="container login-container">
        <div class="login-box">
            <div class="login-info">
                <h1 class="text-title"> Log In </h1>
                <p class="text-normal"> Don't have an account?</p>
                <a class="basic-link" href="/signin"> Sign Up <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <div class="login-form">
                <form>
                    <p class="input-label"> <i class="fa-solid fa-user"></i> E-mail / Username </p>
                    <input class="input-form" type="text" name="username"> <br>

                    <p class="input-label"> <i class="fa-solid fa-unlock-keyhole"></i> Password </p>
                    <input class="input-form" type="password" name="password"> <br>
                    <button class="basic-button"> Continue </button>
                </form>

            </div>
            <div class="login-form-error-box">
                <p class="text-error-normal">
                    <!-- User not found -->
                </p>
                <% if (queries.accountCreated) { %>
                <p class="text-success-normal">Account created succesfuly, you can login now :) </p>
                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include("../includes/footer.ejs") %>