<%- include("../includes/header.ejs") %>

<section class="section">
    <div class="container is-max-desktop index-container">
        <h1 class="text-title">
            Let's do some changes!
        </h1>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop index-container">
        <form method="POST" action="/settings/uploadAvatarImage" enctype="multipart/form-data">
            <p> Upload profile image </p>
            <input name="avatarImage" type="file" accept="image/*">
            <button type="submit"> Upload Image! </button>
        </form>

    </div>
</section>

<%- include("../includes/footer.ejs") %>