<%- include("../includes/header.ejs") %>

<section class="section">
    <div class="container is-max-desktop index-container">
        <h1 class="text-title">
            Let's do some changes!
        </h1>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop index-container">

        <h2 class="settings-title"> 1. Change profile image </h2>
        <div class="settings-user-image-container">

            <!-- Change image here -->
            <div class="settings-user-image-box">
                <% if (typeof(userAvatarUrl) !== 'undefined') { %>
                <img src="<%= userAvatarUrl %>">
                <% } else { %>
                <img src="images/icons/laugh.png">
                <% } %>

                <form method="POST" action="/settings/uploadAvatarImage" enctype="multipart/form-data">
                    <label class="settings-button" for="file-upload"> Select Image </label>
                    <input style="display: none" id="file-upload" name="avatarImage" type="file" accept="image/*">
                    <button class="settings-button" type="submit"> Upload! </button>
                </form>

                <% if (typeof(errors) !== 'undefined') { %>

                <% if (errors.imageToBig) { %>
                <p class="avatar-image-upload-error-text"> - File too big! </p>
                <% } %>

                <% if (errors.wrongExtention) { %>
                <p class="avatar-image-upload-error-text"> - Wrong extention! </p>
                <% } %>

                <% if (errors.newImageAdded) { %>
                <p class="avatar-image-upload-success-text"> New image added! </p>
                <% } %>

                <% if (errors.imageUpdated) { %>
                <p class="avatar-image-upload-success-text"> Image Updated! </p>
                <% } %>

                <% } %>
            </div>

            <!-- Image info here -->
            <div class="settings-user-image-info-box">
                <p class="settings-normal-text"> Your profile image is gonna be seen everywhere, it is worth to choose
                    the best one!
                    <br><br>
                    We suggest to upload image that has equal width and height like:
                    <br>
                    - 256 x 256 px <br>
                    - 512 x 512 px <br>
                    <br>
                    Allowed file extensions are PNG and JPG
                </p>
            </div>

        </div>

    </div>
</section>

<section class="section">
    <div class="container is-max-desktop index-container">

        <h2 class="settings-title"> 2. Change username </h2>
        <div class="settings-user-image-container">


        </div>

    </div>
</section>

<%- include("../includes/footer.ejs") %>