<%- include("../includes/header.ejs") %>


<section class="section fullPage-container">
    <div class="container signin-container">
        <div class="signin-box">
            <div class="signin-info">
                <h1 class="text-title"> Sign In </h1>
                <p class="text-normal"> Already have an account? </p>
                <a class="basic-link" href="/login"> Log in <i class="fa-solid fa-arrow-up-right-from-square"></i> </a>
            </div>
            <div class="signin-form">
                <form action="/signin" method="POST">
                    <p class="input-label"> <i class="fa-solid fa-user"></i> Username </p>
                    <input class="input-form" type="text" name="username"> <br>

                    <p class="input-label"> <i class="fa-solid fa-at"></i> E-mail </p>
                    <input class="input-form" type="text" name="email"> <br>

                    <p class="input-label"> <i class="fa-solid fa-unlock-keyhole"></i> Password </p>
                    <input class="input-form" type="password" name="password"> <br>
                    <button class="basic-button"> Register </button>
                </form>

            </div>
            <div class="signin-form-error-box">
                <!-- Password Validation -->
                <% if (typeof(queries) !== 'undefined') { %>

                <% if (queries.emailNotValid) {  %>
                <p class="text-error-normal"> - Something is wrong with your e-mail </p>
                <% } %>
                <% if (queries.umin) {  %>
                <p class="text-error-normal"> - Username should have a minimum length of 4 characters </p>
                <% } %>

                <% if (queries.umax) {  %>
                <p class="text-error-normal"> - Username should have a maximum length of 20 characters </p>
                <% } %>

                <% if (queries.uspaces) {  %>
                <p class="text-error-normal"> - Username cannot have spaces </p>
                <% } %>

                <% if (queries.min) {  %>
                <p class="text-error-normal"> - Password should have a minimum length of 8 characters </p>
                <% } %>

                <% if (queries.max) {  %>
                <p class="text-error-normal"> - Password should have a maximum length of 100 characters </p>
                <% } %>

                <% if (queries.uppercase) {  %>
                <p class="text-error-normal"> - Password should have 1 or more uppercase characters </p>
                <% } %>

                <% if (queries.lowercase) {  %>
                <p class="text-error-normal"> - Password should have 1 or more lowercase characters </p>
                <% } %>

                <% if (queries.digits) {  %>
                <p class="text-error-normal"> - Password should have 2 or more digits </p>
                <% } %>

                <% if (queries.spaces) {  %>
                <p class="text-error-normal"> - Password cannot have spaces </p>
                <% } %>

                <% } %>

            </div>
        </div>
    </div>
</section>


<%- include("../includes/footer.ejs") %>