html,
body {
    width: 100%;
    height: 100%;

    background-color: #111121;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --BgBlackMain: #111121;
    --BgBlackLighter: #222232;

    /* Colored text */
    --Green: #81E6D9;
    --GreenStronger: #9AE6B4;
    --Red: #fb9898;
    --RedStrong: #ff7272;
    --Blue: #90CCF4;
    --BlueLighter: #A1DDF5;

    --BlueGray: #343447;

    --Gray: #474751;

    /* White text */
    --fontWhiteBig: #F7FAFC;
    --fontWhiteNormal: #E2E8F0;
}


/* NavBar */
.navbar {
    background-color: var(--BgBlackLighter);
}

.navbar-start {
    gap: 0px;
}

.navbar-end {
    gap: 0px;
}

.nav-logo {
    width: 31px;
}

.navbar-item {
    color: var(--fontWhiteBig);
    font-weight: 500;
}

.navbar-link {
    color: var(--fontWhiteBig);
    font-weight: 500;
}

.signUpBtn {
    color: var(--Blue);

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;

    background-color: transparent;
    border: 0;

    padding: 0;
    margin: 0;
}

.loginBtn {
    color: var(--GreenStronger);

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;

    background-color: transparent;
    border: 0;
}

.navbar a {
    transition: all 200ms;
}

.navbar a:hover {
    color: var(--fontWhiteBig);
    background-color: transparent;
    transform: scale(1.1);
}

.navbar-dropdown {
    background-color: var(--BgBlackLighter);
    border: 0;
}

.nav-dropdown .navbar-link {
    background-color: transparent !important;
}

.nav-dropdown .navbar-item {
    color: var(--fontWhiteNormal);
}

.nav-dropdown .navbar-item i {
    margin-right: 6px;
}

.navbar-dropdown .navbar-item:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: transparent !important;
    color: var(--fontWhiteNormal) !important;
}

.navbar-burger span {
    background-color: var(--fontWhiteBig);
}

.navbar-menu {
    background-color: var(--BgBlackLighter);
}

.navbar-menu .navbar-start .navbar-item:hover {
    cursor: pointer;
    transform: none;
    transform: scale(1.01);
}

.navbar-menu .navbar-end .navbar-link:hover {
    cursor: pointer;
    transform: none;
    transform: scale(1.01);
}

.navbar-user-text {
    font-size: 20px;
    font-weight: 600;
}

.navbar-user-avatar {
    margin-right: 6px;
    max-width: 24px;
    max-height: 24px;
}

/* Views - Index */
.index-container {
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
}

.post-container {
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.post-box {
    width: 500px;
    min-height: 300px;

    background-color: var(--BgBlackLighter);

    border-radius: 8px;

    padding: 12px;
}

.post-info {
    width: 100%;
    height: 50px;

    background-color: var(--BgBlackLighter);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.post-user-avatar-box {
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: #333343;
    border-radius: 4px;
}

.post-user-avatar-box img {
    width: 40px;
    border-radius: 4px;
    padding: 2px;
}

.post-username-info {
    width: 400px;
    height: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.2;

    padding-left: 6px;
    padding-right: 6px;
}

.post-username {
    width: 100%;
}

.text-username {
    font-size: 18px;
    color: var(--fontWhiteNormal);
    font-weight: 600;
    letter-spacing: 0.6px;
}

.post-info-date {
    width: 100%;
}

.text-date {
    font-size: 12px;
    color: var(--Gray);
    font-weight: 400;
}

.post-love-icon {
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.post-love-icon i {

    padding-top: 12px;

    font-size: 24px;

    color: var(--RedStrong);
}

.post-categories {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-start;
    align-items: center;
    gap: 6px;
}

.post-categories a {
    min-width: 30px;

    background-color: var(--BlueGray);
    color: var(--fontWhiteNormal);

    font-size: 10px;
    font-weight: 600;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 24px;
}

.post-title {
    width: 100%;
    min-height: 30px;
}

.post-image {
    width: 100%;
    max-height: 1000px;

    margin-top: 12px;
}

.post-reactions {
    width: 100%;
    height: 40px;
    margin-top: 6px;
}

.post-reactions button {
    min-width: 50px;
    height: 40px;

    background-color: var(--BlueGray);

    border: 0;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 700;
    color: var(--fontWhiteNormal);

    padding-left: 12px;
    padding-right: 12px;
    margin-right: 6px;
}

/* Login */
.login-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 450px;
    min-height: 400px;

    background: rgb(51, 51, 67);
    background: radial-gradient(circle at top left, #333343 0%, #222232 100%);

    padding: 24px 48px;
    border-radius: 12px;
}

.login-info {
    width: 100%;
    min-height: 100px;

    text-align: center;

    padding-bottom: 24px;
}

.login-form {
    width: 100%;
    min-height: 100px;
    margin-bottom: 24px;
}

.login-form button {
    width: 150px;

    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

.login-form-error-box {
    width: 100%;

    border-radius: 4px;
}

/* Views - Sign In */

.signin-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.signin-box {
    width: 450px;
    min-height: 600px;

    background: rgb(51, 51, 67);
    background: radial-gradient(circle at top left, #333343 0%, #222232 100%);
    padding: 24px 48px;
    border-radius: 12px;
}

.signin-info {
    width: 100%;
    min-height: 100px;

    text-align: center;

    padding-bottom: 24px;
}

.signin-form {
    width: 100%;
    min-height: 100px;
    margin-bottom: 24px;
}

.signin-form button {
    width: 150px;

    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

.signin-form-error-box {
    width: 100%;

    border-radius: 4px;
}

/* Settings */
.settings-user-image-container {
    width: 100%;
    min-height: 200px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 24px;

    gap: 48px;

    border-top: 2px solid var(--BlueGray);
}

.settings-user-image-box {
    width: 200px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 12px;
    gap: 12px;

}

.avatar-image-upload-error-text {
    font-size: 12px;
    color: var(--RedStrong);

    font-weight: 300;
}

.avatar-image-upload-success-text {
    font-size: 12px;
    color: var(--GreenStronger);

    font-weight: 300;
}

.settings-user-image-info-box {
    width: 600px;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding: 12px;
    gap: 12px;
}

.settings-user-image-box img {
    background-color: var(--BgBlackLighter);
    padding: 8px;
    border-radius: 6px;
    width: 256px;
    max-height: 256px;
}

.settings-normal-text {
    color: var(--fontWhiteBig);

    font-size: 26;
    font-weight: 600;

    padding: 24px;

    background-color: var(--BgBlackLighter);
}

.settings-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--fontWhiteNormal);
    padding-top: 12px;
    padding-bottom: 12px;
}

.settings-button {
    width: 176px;

    display: block;

    background-color: var(--BlueGray);
    color: var(--fontWhiteBig);

    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    padding: 8px;

    border: 0;
    border-radius: 4px;

    text-align: center;

    transition: all 200ms;

    margin-bottom: 4px;
}

.settings-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Footer */
.footer-container {
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;

    background-color: transparent;
    margin-top: 50px;
}