html,
body {
    width: 100%;
    height: 100%;

    background-color: #111121;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --BgBlackMain: #111121;
    --BgBlackLighter: #222232;

    /* Colored text */
    --Green: #81E6D9;
    --GreenStronger: #9AE6B4;
    --Red: #fb9898;
    --RedStrong: #ff7272;
    --Blue: #90CCF4;
    --BlueLighter: #A1DDF5;

    /* White text */
    --fontWhiteBig: #F7FAFC;
    --fontWhiteNormal: #E2E8F0;
}


/* NavBar */
.navbar {
    background-color: var(--BgBlackLighter);
}

.navbar-start {
    gap: 0px;
}

.navbar-end {
    gap: 0px;
}

.nav-logo {
    width: 33px;
}

.navbar-item {
    color: var(--fontWhiteBig);
    font-weight: 500;
}

.navbar-link {
    color: var(--fontWhiteBig);
    font-weight: 500;
}

.signUpBtn {
    color: var(--Blue);

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;

    background-color: transparent;
    border: 0;

    padding: 0;
    margin: 0;
}

.loginBtn {
    color: var(--GreenStronger);

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;

    background-color: transparent;
    border: 0;
}

.navbar a {
    transition: all 200ms;
}

.navbar a:hover {
    color: var(--fontWhiteBig);
    background-color: transparent;
    transform: scale(1.1);
}

.navbar-dropdown {
    background-color: var(--BgBlackLighter);
    border: 0;
}

.nav-dropdown .navbar-link {
    background-color: transparent !important;
}

.nav-dropdown .navbar-item {
    color: var(--fontWhiteNormal);
}

.nav-dropdown .navbar-item i {
    margin-right: 6px;
}

.navbar-dropdown .navbar-item:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: transparent !important;
    color: var(--fontWhiteNormal) !important;
}

.navbar-burger span {
    background-color: var(--fontWhiteBig);
}

.navbar-menu {
    background-color: var(--BgBlackLighter);
}

.navbar-menu .navbar-start .navbar-item:hover {
    cursor: pointer;
    transform: none;
    transform: scale(1.01);
}

.navbar-menu .navbar-end .navbar-link:hover {
    cursor: pointer;
    transform: none;
    transform: scale(1.01);
}

/* Views - Index */
.index-container {
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
}

/* Login */
.login-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 450px;
    min-height: 400px;

    background: rgb(51, 51, 67);
    background: radial-gradient(circle at top left, #333343 0%, #222232 100%);

    padding: 24px 48px;
    border-radius: 12px;
}

.login-info {
    width: 100%;
    min-height: 100px;

    text-align: center;

    padding-bottom: 24px;
}

.login-form {
    width: 100%;
    min-height: 100px;
    margin-bottom: 24px;
}

.login-form button {
    width: 150px;

    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

.login-form-error-box {
    width: 100%;

    border-radius: 4px;
}

.login-form-error-box p {
    font-size: 16px;

    color: var(--RedStrong);
}

/* Views - Sign In */

.signin-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.signin-box {
    width: 450px;
    min-height: 400px;

    background: rgb(51, 51, 67);
    background: radial-gradient(circle at top left, #333343 0%, #222232 100%);

    padding: 24px 48px;
    border-radius: 12px;
}

.signin-info {
    width: 100%;
    min-height: 100px;

    text-align: center;

    padding-bottom: 24px;
}

.signin-form {
    width: 100%;
    min-height: 100px;
    margin-bottom: 24px;
}

.signin-form button {
    width: 150px;

    display: block;
    margin: 0 auto;
    margin-top: 24px;
}

.signin-form-error-box {
    width: 100%;

    border-radius: 4px;
}

.signin-form-error-box p {
    font-size: 16px;

    color: var(--RedStrong);
}

/* Footer */
.footer-container {
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;

    background-color: var(--BgBlackLighter);
}