</body>

<footer>
    <section class="section is-fluid footer-container">
        <div class="container">
            <p class="text-normal"> Copyrights mine 2k22 </p>
        </div>
    </section>
</footer>

<script src="https://kit.fontawesome.com/bea82b7e90.js" crossorigin="anonymous"></script>

<script src="scripts/toggleMenuBurger.js"></script>

</html>